# === Global ===
.DS_Store
Thumbs.db
.env
.env.local
!.env.example
*.log

# === Root ===
node_modules/

# === Frontend ===
frontend/node_modules/
frontend/build/
frontend/.env*
!frontend/.env.example

# === Backend ===
backend/node_modules/
backend/.env*
!backend/.env.example

# === VSCode / Editor folders ===
.vscode/
.idea/
*.swp
